= form_with(model: owndom, local: true) do |form|
  - if owndom.errors.any?
    #error_explanation
      h2 #{pluralize(owndom.errors.count, "error")} prohibited this owndom from being saved:
      ul
        - owndom.errors.full_messages.each do |message|
          li = message

  .field
    = form.select :owner_id, options_from_collection_for_select(Owner.all, :id, :name, owndom.owner_id), {include_blank: "Owner", required: true }

  .field
    = form.label :address1
    = form.text_field :address1, id: :owndom_address1, required: true


  .field
    = form.label :address2
    = form.text_field :address2, id: :owndom_address2


  .field
    = form.label :address3
    = form.text_field :address3, id: :owndom_address3


  .field
    = form.label :address4
    = form.text_field :address4, id: :owndom_address4, required: true


  .field
    = form.label :post_code
    = form.text_field :post_code, id: :owndom_post_code


  .field
    = form.label :income
    = form.text_field :income, id: :owndom_income

  .field
    = form.select :country_id, options_from_collection_for_select(Country.all, :id, :name, owndom.country_id), {include_blank: "Country", required: true }

  .field
    = form.select :city_id, options_from_collection_for_select(City.all, :id, :name, owndom.city_id), {include_blank: "City", required: true }


  .actions
    = form.submit
