.demo-card-square.mdl-card.mdl-shadow--2dp
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text Editing Propertie
  .mdl-card__supporting-text
    = render 'form', owndom: @owndom
  .mdl-card__actions.mdl-card--border
    = link_to 'Show', @owndom, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    = link_to 'Back', owndoms_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
