p#notice = notice

h5.white Properties

table.mdl-data-table.mdl-js-data-table
  thead
    tr
      th Address1
      th Address2
      th Address3
      th Address4
      th Post code
      th Income
      th colspan="3"

  tbody
    - @owndoms.each do |owndom|
      tr
        td = owndom.address1
        td = owndom.address2
        td = owndom.address3
        td = owndom.address4
        td = owndom.post_code
        td = owndom.income
        td = link_to 'Show', owndom
        td = link_to 'Edit', edit_owndom_path(owndom)
        td = link_to 'Destroy', owndom, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Owndom', new_owndom_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
