p#notice = notice
.demo-card-square.mdl-card.mdl-shadow--2dp
  .mdl-card__title.mdl-card--expand
    h2.mdl-card__title-text #{@owndom.owner.name} propertie
  .mdl-card__supporting-text
    p
      strong Address1:
      = @owndom.address1
    p
      strong Address2:
      = @owndom.address2
    p
      strong Address3:
      = @owndom.address3
    p
      strong Address4:
      = @owndom.address4
    p
      strong Post code:
      = @owndom.post_code
    p
      strong Income:
      = @owndom.income
  .mdl-card__actions.mdl-card--border
    = link_to 'Edit', edit_owndom_path(@owndom), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    = link_to 'Back', owndoms_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
