// Place all the styles related to the administration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#owndoms__list-container {
  height: 100%;

  .list-container__owndoms {
    height: 100%;
  }
}
