$main-background: #fff
$light-grey: #ececec
$dark-grey-font: #575757

$hostmarker: url('../assets/images/hostmarker.png');

.owndoms__table-container
  background: $main-background
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
  float: right
  height: 100%
  margin-right: 30px
  position: relative
  width: 600px
  z-index: 2

  .owndoms__owndoms-table
    width: 600px
    table-layout: fixed

    .owndoms-table__row .row__owndom_column p
        margin: 0
        padding: 0

    .owndoms-table__row.row--active
      background-color: $light-grey

.owndoms__map-container
  background: $main-background
  padding: 20px
  position: fixed
  right: 0
  top: 100px
  width: 1200px
  z-index: 1

  .map-container__owndoms-map
    height: 500px
    width: 500px

    .owndoms-map__map-marker
      background-position: center top
      background: $hostmarker
      color: white
      height: 33px
      left: -17px
      position: relative
      top: -34px
      width: 30px

    .owndoms-map__map-marker.map-marker--active
      background-position: center bottom

    .owndoms-map__map-marker .map-marker__popup
      background: $main-background
      border-radius: 12px
      border: 5px solid $light-grey
      bottom: 45px
      color: $dark-grey-font
      display: none
      font-weight: bold
      margin-right: -50px
      min-width: 90px
      padding: 5px
      position: absolute
      right: 50%
      text-align: center
      z-index: 10

    .map-marker__popup.popup--active
      display: block
