doctype html
html
  head
    title HostmakerTest
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    .main-layout.mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--transparent
        .mdl-layout__header-row
          span.mdl-layout-title Hostmaker test

          .mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link href="/owndoms" Manage properties
      main.mdl-layout__content
        = yield
